*{
    padding: none;
    margin: 0;
}

a{
    text-decoration: none;
}

body{

    background: linear-gradient(rgb(35, 35, 35) 0 70%, rgb(15, 0, 0) 95% 100%);
    font-family: 'Montserrat', sans-serif;
    max-height: 100%;
    overflow: hidden;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero img{
    width:600px;
    height: 200px;
    object-fit: cover;
}
.hero > h1{
    width: 30%;
    text-align: center;
    color: #cbcbcb;
    font-size: 30px;
    font-weight: light;
    padding: 10px 50px;
}

.links{
    margin-top: 50px;
    width: 30%;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}
.links > a{
    width: 50%;

}
.links  img{
    width: 250px;
    /* height: 350px; */
    object-fit: cover;

}
.socials {
    width: 30%;
  display: flex;
  justify-content:space-around ;
}
.follow{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.follow > h2{
    font-size: 30px;
    color: #616161;
    font-weight: bold;
}
.socials >a{
    width: 80px;
    height: 80px;
}

.socials a > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

@media screen and (max-width: 968px) {
    .hero{
        width: 80%;
        text-align: center;
    }
    .hero img{
        width:500px;
        height: 200px;
        object-fit: fill;
        /* object-fit: c; */
    }
    .logo{
        width: 100%;
    }
    .hero > h1{
        width: 70%;
        font-size: 25px;
    }
    .links{
        width: 70%;
    }
    .links img{
        width: 200px;
    }
    .follow{
        margin-top: 50px;
    }
}